@font-face {
  font-family: "CommitMono";
  src: url("fonts/CommitMono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/SourceSerifPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Source Serif Pro", sans-serif;
  padding: 0 10%;
}

h1 {
  font-size: 2.5rem;
}

/* Styling for inline code */
code {
  background-color: #f4f4f4; /* Light grey background */
  border-radius: 3px; /* Rounded corners */
  padding: 2px 4px; /* Padding around the text */
  font-family: CommitMono, monospace; /* Monospaced font */
  color: #333; /* Text color */
}

/* Styling for block-level code */
pre {
  background-color: #f8f9fa; /* Slightly lighter background */
  border: 1px solid #e1e1e1; /* Border around the block */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the block */
  overflow-x: auto; /* Horizontal scrollbar for long lines */
  font-family: "CommitPro", monospace; /* Monospaced font */
  color: #333; /* Text color */
  white-space: pre; /* Preserve whitespace formatting */
}

/* Optional: Highlighting syntax for block-level code */
pre code {
  background: none; /* Remove background from nested code */
  color: inherit; /* Inherit color from pre */
}
